# Get FITBIT DATA

In [ ]:
import fitbit
import pandas as pd
import datetime
from sklearn.linear_model import LinearRegression
import numpy as np

In [ ]:
# Credencial de autoritació de la nostre app
CLIENT_ID = '23QBN2'
CLIENT_SECRET = 'b90eb4fab0f4d329821aedcc12fa640d'

 
# S'ha de veure com s'obtenen millor aquests tokens i quant duren
# Crec que hi ha una forma de obtenir un token d'acces de un any pero s'ha de mirar bé
ACCESS_TOKEN = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyM1FCTjIiLCJzdWIiOiJDSks4WFMiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyc29jIHJlY2cgcnNldCByaXJuIHJveHkgcm51dCBycHJvIHJzbGUgcmNmIHJhY3QgcmxvYyBycmVzIHJ3ZWkgcmhyIHJ0ZW0iLCJleHAiOjE3NDM4MzY3MzIsImlhdCI6MTc0MzgwNzkzMn0.epIM0tmdcf-tnVna008Lv1K89zXJAj_o2yx1OIZFMas'
REFRESH_TOKEN = '44646c52224dd852a968614ff4d235fbaa44d6e6dfd36a7298c971097498947e'

# Creem el client Fitbit

authd_client = fitbit.Fitbit(
    CLIENT_ID, 
    CLIENT_SECRET,
    oauth2=True,
    access_token=ACCESS_TOKEN,
    refresh_token=REFRESH_TOKEN
)

# OBTENIM DADES DE FITBIT

# La API de "time_series" pot rebre:
#  - period='1d', '7d', '30d', '1w', '1m', '3m', '6m', '1y', 'max'
#  - o bé base_date y end_date (dates en format 'YYYY-MM-DD')

period = '1w'


# Obtenim els pasos
steps_data = authd_client.time_series(
    resource='activities/steps',
    base_date='today', 
    period=period
)

# Obtenim les calories
calories_data = authd_client.time_series(
    resource='activities/calories',
    base_date='today', 
    period=period
)

# De la llista agafem el camp de activities-steps i activities-calories
# (que son les dades que volem provar)
steps_list = steps_data['activities-steps']
calories_list = calories_data['activities-calories']

# ----------------

# Convertim les dades a DataFrames
df_steps = pd.DataFrame(steps_list)
df_calories = pd.DataFrame(calories_list)

display(df_steps.head())
display(df_calories.head())

df_calories.info()
df_steps.info()

     dateTime  value
0  2025-03-30   4433
1  2025-03-31   5780
2  2025-04-01  12339
3  2025-04-02  14794
4  2025-04-03   9385

     dateTime value
0  2025-03-30  2331
1  2025-03-31  2708
2  2025-04-01  3445
3  2025-04-02  3427
4  2025-04-03  3281

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dateTime  7 non-null      object
 1   value     7 non-null      object
dtypes: object(2)
memory usage: 244.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dateTime  7 non-null      object
 1   value     7 non-null      object
dtypes: object(2)
memory usage: 244.0+ bytes

In [11]:

# Cambiem el tipo de "value" a numèric.
df_steps['value'] = pd.to_numeric(df_steps['value'], errors='coerce')
df_calories['value'] = pd.to_numeric(df_calories['value'], errors='coerce')

# Renombramos las columnas para mayor claridad
df_steps.rename(columns={'dateTime': 'date', 'value': 'steps'}, inplace=True)
df_calories.rename(columns={'dateTime': 'date', 'value': 'calories'}, inplace=True)

# Unim els DataFrames en un
df_merged = pd.merge(df_steps, df_calories, on='date')

# Ordenamos per data en cas que s'hagin desordenat
df_merged['date'] = pd.to_datetime(df_merged['date'])
df_merged.sort_values('date', inplace=True)

print("Dades combinades:")
display(df_merged.head())

# ----------------------------
# ENTRENAMENT DEL MODEL
# ------------------------

# AQUI ANIRIA L'ENTRENAMENT DEL MODEL

# ----------------------------------
# PREDICCIÓ DEL MODEL
# ---------------------------

# Un cop entrenat el model es faria una prediccó amb les dades noves de entrada
# (que serien les dades d'entrada del fitbit)

Dades combinades:

        date  steps  calories
0 2025-03-30   4433      2331
1 2025-03-31   5780      2708
2 2025-04-01  12339      3445
3 2025-04-02  14794      3427
4 2025-04-03   9385      3281